<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detección de Encorvamiento</title>
    </head>
    <body>
        <h1>Iniciar cámara</h1>
        <button id="startCamera">Iniciar cámara</button>
        <br><br>
        <video id="video" width="640" height="480" autoplay></video>
        <script>
            const startCameraButton = document.getElementById('startCamera');
            const videoElement = document.getElementById('video');

            startCameraButton.addEventListener('click', function() {
                // Solicitar acceso a la cámara
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function(stream) {
                        // Asignar el stream de video al elemento <video>
                        videoElement.srcObject = stream;
                        videoElement.style.display = 'block';
                    })
                    .catch(function(error) {
                        alert("No se pudo acceder a la cámara: " + error.message);
                    });
            });
        </script>
    </body>
</html>
